

.boxmodel {
    border: 4px dotted red;
    display: inline-block;
    padding: 3px 7px;
    margin: 20px;
    margin-left: auto;
    padding: 15px;
    padding-left: -15px;
}

a{
    text-transform: capitalize;
}