/* Selector {
        Property: value;
}*/

h2 > p {
    color: red;
    text-align: center;
    border: 1px solid #d6c4c4;
    cursor: pointer  ;
}

img {
    position: center;
    width: 100px;
    height: 100px;
}

/*element (el)
el1 , el2   = applies for both el1 and el2;
el1 > el2   = applies for el2 w/ its parent is el1;
el1   el2   = applies only for objects inside el1;
el1 + el2   = applies for el2 which is right after el1;
:hover      = suffix applied when hover cursor on;
:last-child = applies only for last child of element;
:first-child = applies only for first child of element;
!important  = overrides cascading order (not reccommended);
*/


body{
    background-image: url(https://i.pinimg.com/originals/e8/34/47/e83447d3577009328591e417432ab49c.jpg);
    background-size: 1920px 1080px;
}

p{
    background-color:#4A1F61;
    color:#cdc3d2
}

a{
    text-decoration: double;
}

li{
    list-style: square;
    color: #922929;
}

.webtext{    
    border: 1.5px solid #cfede1ba;
}  
/* class */

#div1{
    background-color: #536dad;
    border: 5px solid #17121a;

}
/* id */
.webtext:first-of-type{
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bolder;
    font-family: "Kdam Thmor Pro", Arial;
}

footer > p{
    background-color:#3575ad;
    clear: both;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
}